@import "./fonts";
@import "./mixin";

body,
html {
  @include responsive-font(0.833vw, 0.8rem);

  margin: 0;
  padding: 0;
  // width: 100vw;

  font-family: "Montserrat", sans-serif;
  color: #16252D;

  // overflow-x: hidden;

  @media (max-width: 1199.98px) {
    font-size: 0.8rem;
  }

  // @media (max-width: 991.98px) {
  //   font-size: 0.85rem;
  // }

  @media (max-width: 767.98px) {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

menu,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}


.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 700ms ease-in-out;

  z-index: 4 !important;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: scale(0);
  // rotate(-90deg)
  opacity: 0;
  transition: all 400ms ease-in;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0);
  transition: all 400ms ease-out;
}

// .ReactModal__Body--open {
//   height: 100%;
//   overflow: hidden;
// }